body{
    font-family: "montserrat";
}
#title{
    background-color: #ff4c68;
    color: white;
    height: 80%;
}
h1{
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}
h2{
    color: white;
    font-size: 2rem;
    font-weight: 800;
}
.container-fluid{
    padding: 3% 15% 7%;

}

/* navbar setting */

.navbar{
    padding-bottom: 4.5rem;
    padding-left: 0%;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
    padding-left: 0%;
}
.nav-item{
    
    padding:0px 18px;
    
}
.nav-link{
    font-family: "Ubuntu";
    font-weight: lighter;
    font-size: 1.2rem;
}

/* download-button */

.download-button{
    margin: 5% 3% 5% 0%;
}

/* title-picture */

.title-picture{

    width: 60%;
    margin-left: 30px;
    transform: rotate(25deg);
    position: absolute;
}

/* feature-row*/

.feature-row{
    background-color: white;
    padding: 8%;
    text-align: center;
    margin: 0% auto;
    position: relative;

}
.col-md-12{
    margin-top: 3%;
}
h3{
    font-weight: 800;
    font-size: 1.5rem;
}
p{
    color: #8f8f8f;
    
}
.fa-check-circle,.fa-bullseye,.fa-heart{
    color: #ef8172;
    margin-bottom: 1rem;
}
.fa-check-circle:hover,.fa-bullseye:hover,.fa-heart :hover{
    color:#ff4c68;
}

/*  Testimonials  */

#testimonials{
    background-color: #ef8172;
    text-align: center;
    padding: 7% 15%;
    

}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
    margin:2%;
    width: 20%;
    border-radius: 200px;
}
/* Press section */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 2%;
}
.press-img{
    width: 15%;
    margin-left: 20px 20px 50px;

}
/* pricing section */
#pricing{
    padding: 7% 10%;
    text-align: center;
}
.h2-pricing{
    color: black;
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 1%;
}
.pricing-para{
    padding-bottom :3%;
}

/* <!-- Call to Action --> */
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 5% 15% 3%;
}
/* footer */
#footer{
    padding: 10% 15% 7%;
    text-align: center;
}
.fa-twitter, .fa-facebook-f, .fa-instagram, .fa-envelope{
    margin: 0px 10px ;
    padding-bottom: 10px;
    
}
.para-footer{
    
    font-weight: 600;
    font-size: 1.5rem;
}
@media (max-width:1028px){
    .title-picture{
        position:static;
        transform:rotate(0);
       }
       #title{
           text-align: center;
       }
   }